<!DOCTYPE html>
 <html>
  <body>
    <center>
    <h1>My Account Info</h1>

     <table>
       <tr>
         <td><h3>Account Address :</h3></td>
         <td><%=det.addr%></td>
       </tr>
       <tr>
         <td><h3>Ether :</h3></td>
         <td><%=det.value/1000000000000000000%><td>
         </tr>
       </table>
       <h3>Send Ether From Here</h3>
       <a href="/welcome/<%=det.addr%>/<%=det.phrase%>">Click Here</a>
       <h3>Get Ether From Here</h3>
    <a href='/ether/<%det.addr%>/<%=det.phrase%>'>Get Ether<a>
     </center>
   </body>
   </html>
